@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 5);
  color: white;
}

.contactoTitulo, .tituloReglas, .categoria h2, header nav, header .nombreSitio {
  font-family: "Protest Strike", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 5);
}
header .logoPagina {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 10px;
}
header .nombreSitio {
  margin-left: 10px;
  font-weight: 400;
  font-size: 50px;
  justify-content: center;
  color: white;
  -webkit-text-stroke-width: 2px; /* Ancho del contorno */
  -webkit-text-stroke-color: rgb(0, 0, 5); /* Color del contorno */
}
header .logo {
  width: 70px;
}
header nav {
  font-size: 20px;
}
header nav .pos-f-t {
  padding-right: 10px;
  margin-top: 20px;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 3000; /* Asegura que esté por encima de otros elementos */
}
header nav .navbar-toggler {
  border: 1px solid grey; /* Cambia el color del borde */
  background-color: rgb(0, 0, 5); /* Hace que el fondo sea transparente */
  color: black; /* Cambia el color del texto */
  margin: 20px;
}
header nav .navbar-toggler:hover {
  background-color: black; /* Cambia el color de fondo al pasar el mouse */
  color: #000000; /* Cambia el color del texto al pasar el mouse */
}
header nav #navbarToggleExternalContent .collapse.show {
  background-color: white; /* Cambia el color de fondo del menú */
  height: auto; /* Permitir que el contenedor se ajuste al tamaño del contenido */
  box-sizing: content-box;
}
header nav li {
  list-style: none;
  padding-bottom: 10px;
}
header nav li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Cambia el color del texto de los enlaces */
  padding-right: 20px;
}

.imagenPortada {
  width: 100%;
}
.imagenPortada img {
  width: 100%;
  height: auto;
}

.galeria {
  padding-top: 20px; /*Separa el main del header sin mostrar una franja blanca como ocurría con margin-top*/
}

.categorias {
  padding: 20px;
  background-color: rgb(0, 0, 5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "img1 img1" "img2 img3" "img4 img4" "img5 img6";
  grid-gap: 20px; /* Espacio entre las tarjetas */
}

.categoria1 {
  grid-area: img1;
}

.categoria4 {
  grid-area: img4;
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinea los elementos en una columna */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  width: auto; /* Ajusta el ancho del contenedor */
  height: auto; /* Ajusta el alto del contenedor */
  background-image: url("https://wallpapercave.com/wp/JoFTfPX.jpg");
  transition: transform 0.3s; /* Transición suave para el efecto de ampliación */
}
.categoria:hover {
  transform: scale(1.05); /* Amplía la tarjeta en un 5% al hacer hover */
  cursor: pointer; /* Cambia el cursor a una mano señalando */
}
.categoria img {
  width: 100%;
  height: 80%; /* [Se corta la imagen]: Ajustando la imagen a la altura del contenedor */
  object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto original */
  margin-bottom: 50px;
}
.categoria h2 {
  color: white;
  -webkit-text-stroke-width: 0.5px; /* Ancho del contorno */
  -webkit-text-stroke-color: black; /* Color del contorno */
  font-size: 30px;
  text-align: center; /* Centra el texto */
  margin: 0; /* Elimina el margen por defecto del título */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  margin-top: 60px; /*** Buscar otra forma de evitar que el titulo se corte ***/
  margin-bottom: 10px;
}

.col {
  padding-bottom: 30px;
}
.col p {
  margin-bottom: 40px;
}

.tituloReglas {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 45px;
}

.reglasTitulos {
  font-size: 20px;
}

.nosotros {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotrosTexto {
  font-size: 20px;
  text-align: center; /* Centrar horizontalmente el texto */
  padding: 50px; /* Espaciado interno */
  width: 70%;
  min-width: 320px;
  text-align: justify;
}

.header2 .nav-container {
  all: unset;
}

.contactoTitulo {
  text-align: center;
  padding: 20px;
  font-size: 45px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: black;
}
.formulario form {
  background-color: white;
  width: 50%; /* Ancho del formulario */
  max-width: 500px;
  min-width: 320px;
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Ajusta el ancho y alto del formulario para incluir bordes y rellenos */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Sombras con desplazamiento horizontal y vertical de 0px, desenfoque de 10px y color negro con opacidad de 0.5 */
  display: flex;
  flex-direction: column; /* Alinear los elementos del formulario en una columna */
  justify-content: center; /* Para centrar horizontalmente */
  align-items: center; /* Para centrar verticalmente */
}
.formulario form input[type=file] {
  width: 100%; /* Ajusta el ancho del input al 100% del contenedor */
}

footer {
  display: flex;
  background-color: rgb(0, 0, 5);
}
footer a {
  text-decoration: none;
  color: white;
  margin: 20px;
}
footer img {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

/* Diseño Responsive */
/* Mobile */
@media only screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
  }
  footer {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    width: 100%;
  }
  header .navbar-toggler {
    display: block;
    margin-right: 0; /* Añadir margen izquierdo automático para que el toggler se alinee a la derecha */
  }
  .formulario {
    width: 100%;
    padding: 0px;
  }
  .logoPagina, .nombreSitio {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 10px; /* Ajusta el margen superior si es necesario */
  }
  input, label, textarea, .contactoTitulo {
    max-width: 100%;
  }
  .nosotrosTexto {
    padding: 40px;
    min-width: 320px;
    text-align: justify;
  }
}

/*# sourceMappingURL=main.css.map */
