@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 5);
  color: white;
}

.contactoTitulo, .nosotrosTitulo, .tituloReglas, .categoria h2, .galeriaTitulo, .pieDeTitulo, .indexTitulo, header nav, header .nombreSitio {
  font-family: "Protest Strike", sans-serif;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 5);
}
header .logoPagina {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 10px;
}
header .nombreSitio {
  margin-left: 10px;
  font-weight: 400;
  font-size: 50px;
  justify-content: center;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 5);
}
header .logo {
  width: 70px;
}
header nav {
  font-size: 20px;
}
header nav .pos-f-t {
  padding-right: 10px;
  margin-top: 20px;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 3000;
}
header nav .navbar-toggler {
  border: 1px solid grey;
  background-color: rgb(0, 0, 5);
  color: black;
  margin: 20px;
  display: flex;
}
header nav .navbar-toggler:hover {
  background-color: black;
  color: #000000;
}
header nav #navbarToggleExternalContent .collapse.show {
  background-color: white;
  height: auto;
  box-sizing: content-box;
}
header nav li {
  list-style: none;
  padding-bottom: 10px;
}
header nav li a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

.indexTitulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5vw;
  margin-top: 3%;
  z-index: 2500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.886);
  white-space: nowrap;
}

.pieDeTitulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vw;
  margin-top: 8%;
  z-index: 2500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imagenPortada {
  width: 100%;
}
.imagenPortada img {
  width: 100%;
  height: auto;
}

.galeria {
  padding-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.galeriaTitulo {
  text-align: center;
  font-size: 45px;
}

.categorias {
  padding: 20px;
  background-color: rgb(0, 0, 5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "img1 img1" "img2 img3" "img4 img4" "img5 img6";
  grid-gap: 20px;
}

.categoria1 {
  grid-area: img1;
}

.categoria4 {
  grid-area: img4;
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  background-image: url("https://wallpapercave.com/wp/JoFTfPX.jpg");
  transition: transform 0.3s;
}
.categoria:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.categoria img {
  width: 100%;
  height: 80%;
  object-fit: contain;
  margin-bottom: 50px;
}
.categoria h2 {
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 60px;
  margin-bottom: 10px;
}

.reglas {
  background-image: url("../../img/hombreSaltandoHaciaAtras.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.col {
  padding-bottom: 30px;
}
.col p {
  margin-bottom: 40px;
}

.tituloReglas {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 45px;
}

.reglasTitulos {
  font-size: 20px;
  padding: 20px;
}

.nosotros {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../img/saltoEnBungee1.png");
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nosotrosTitulo {
  text-align: center;
  font-size: 45px;
  padding: 20px;
}

.nosotrosTexto {
  font-size: 20px;
  padding: 50px;
  width: 70%;
  min-width: 320px;
  text-align: justify;
}

.contacto {
  background-image: url("../../img/relampagosEnHorizonte.jpg");
  background-size: cover;
  background-position: center;
}

.contactoTitulo {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.formulario form {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario form input[type=file] {
  width: 100%;
}

footer {
  display: flex;
  background-color: rgb(0, 0, 5);
}
footer a {
  text-decoration: none;
  color: white;
  margin: 20px;
}
footer img {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

/* Diseño Responsive */
/* Mobile */
@media only screen and (max-width: 500px) {
  header {
    display: flex;
  }
  .navbar-toggler {
    display: block;
    margin-right: 0;
    width: 40px;
  }
  footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #carouselExampleCaptions {
    display: flex;
    justify-content: center;
  }
  .formulario {
    width: 100%;
    padding: 0px;
  }
  .logoPagina .logo {
    width: 50px;
  }
  header .nombreSitio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-size: 30px;
  }
  .categorias {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    grid-gap: 20px;
  }
  input, label, textarea, .contactoTitulo {
    max-width: 100%;
  }
  .nosotrosTexto {
    padding: 40px;
    min-width: 380px;
    text-align: justify;
  }
  .reglas {
    background-image: url("../../img/hombreSaltandoHaciaAtrasMobile.jpg");
  }
  .nosotros {
    background-image: url("../../img/saltoEnBungee.png");
  }
}

/*# sourceMappingURL=main.css.map */
