.nosotros{
    padding-bottom: 20px;
    @include flexCentrado;
}

.nosotrosTexto {
    font-size: 20px;
    text-align: center; /* Centrar horizontalmente el texto */
    padding: 50px; /* Espaciado interno */
    width: 70%;
    min-width: 320px;
    text-align: justify;
}