.reglas{
    background-image: url('../../img/hombreSaltandoHaciaAtras.jpg');
    background-size: cover;
    background-position: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.col{
    padding-bottom: 30px;
   
    p{
        margin-bottom: 40px;
    }
}

.tituloReglas{
    padding-top: 50px;
    padding-bottom: 30px;
    @extend %fuente;
    font-size: 45px;
}

.reglasTitulos{
    font-size: 20px;
    padding: 20px;
}