.reglas{
    background-color: black;
    color: white;
}
.col{
    padding-bottom: 30px;
   
    p{
        margin-bottom: 40px;
    }
}

.tituloReglas{
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    font-size: 45px;
}

.reglasTitulos{
    font-size: 20px;
}