.nosotros{
    padding-bottom: 20px;
    @include flexCentrado;
    flex-direction: column;
}
.nosotrosTitulo{
    text-align: center;
    @extend %fuente;
    font-size: 45px;
}
.nosotrosTexto {

    font-size: 20px;
    padding: 50px; /* Espaciado interno */
    width: 70%;
    min-width: 320px;
    text-align: justify;
}