header {
    display: flex;
    justify-content: space-between;
    background-color: $colorDeFondo;

    .logoPagina{
        display: flex;
        text-decoration: none;
        align-items: center;
        margin: 10px;
    }
    .nombreSitio {
        margin-left: 10px;
        @extend %fuente;
        font-weight: 400;
        font-size: 50px;
        justify-content: center;
        color: white;
        -webkit-text-stroke-width: 2px; /* Ancho del contorno */
        -webkit-text-stroke-color: $colorDeFondo; /* Color del contorno */
    }
    .logo{
        width: 70px; 
    }

    nav {

        @extend %fuente;
        font-size: 20px;
        
        .pos-f-t{
       
            padding-right: 10px;
            margin-top: 20px;
            position: absolute;
            top: 50px;
            right: 10px;
            z-index: 3000; /* Asegura que esté por encima de otros elementos */
        }
     
        .navbar-toggler {
            border: 1px solid grey; /* Cambia el color del borde */
            background-color: $colorDeFondo; /* Hace que el fondo sea transparente */
            color: black; /* Cambia el color del texto */
            margin: 20px;
          }
          
          .navbar-toggler:hover {
            background-color: black; /* Cambia el color de fondo al pasar el mouse */
            color: #000000; /* Cambia el color del texto al pasar el mouse */
        
           
          }
        
          #navbarToggleExternalContent .collapse.show {
            background-color: white; /* Cambia el color de fondo del menú */
            height: auto; /* Permitir que el contenedor se ajuste al tamaño del contenido */
            box-sizing: content-box;
            
          }
        li {
            list-style: none; //quita el punteo de viñeta 
            padding-bottom: 10px;
            a{
                text-decoration: none; /* Elimina el subrayado de los enlaces */
                color: white; /* Cambia el color del texto de los enlaces */
                padding-right: 20px;
                
                
            }
        } 
        

    
    } 
}
